<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="flightController" class="ch.pschatzmann.jflightcontroller4pi.FlightController" >
	    <property name="parameterStore">
			<bean id="ParameterStore" class="ch.pschatzmann.jflightcontroller4pi.parameters.ParameterStore" />
	    </property>
	  	<property name="devices">
	  		<list>
            	<ref bean="rudder" />    
            	<ref bean="aileron" />    
            	<ref bean="throttle" />    
            	<ref bean="elevator" />    
            	<ref bean="jmx" />
            	<ref bean="gameConsole" />
            	<ref bean="datagramReader" />                
            	<ref bean="datagramWriter" />    
        	</list>
	  	</property>
	  	<property name="modes">
	  		<list>
            	<ref bean="offMode" />
            	<ref bean="manualMode" />
            	<ref bean="stabilizedMode" />
        	</list>
	  	</property>
	  	
 	    <property name="mode" ref="offMode"/> 
 	    
	  	<property name="controlLoop">
	  		<bean class="ch.pschatzmann.jflightcontroller4pi.loop.ControlLoopWithTimers">
			    <property name="flightController" ref="flightController"/>
	  		</bean>
	  	</property>
	  		    	    
	</bean>

	<!-- Devices -->
	<bean id="gameConsole" class="ch.pschatzmann.jflightcontroller4pi.devices.GameConsole" >
	</bean>

	<bean id="imu" class="ch.pschatzmann.jflightcontroller4pi.imu.IMUDevice" >
	</bean>
	
	<bean id="autopilot" class="ch.pschatzmann.jflightcontroller4pi.navigation.AutoPilot" >
	</bean>
	

	<!-- Control Planes -->
	
	<bean id="aileron" class="ch.pschatzmann.jflightcontroller4pi.devices.OutDevice" >
	  	<property name="controlParameter" value="AILERON"/>
	  	<property name="pin" ref="pin1"/>	  	
	</bean>

	<bean id="elevator" class="ch.pschatzmann.jflightcontroller4pi.devices.OutDevice" >
	  	<property name="controlParameter" value="ELEVATOR"/>
	  	<property name="pin" ref="pin2"/>	  	
	</bean>

	<bean id="rudder" class="ch.pschatzmann.jflightcontroller4pi.devices.OutDevice" >
	  	<property name="controlParameter" value="RUDDER"/>
	  	<property name="pin" ref="pin3"/>	  	
	</bean>

	<bean id="throttle" class="ch.pschatzmann.jflightcontroller4pi.devices.OutDevice" >
	  	<property name="controlParameter" value="THROTTLE"/>
	  	<property name="pin" ref="pin4"/>	  	
	  	<property name="defaultValue" value="0.2"/>	  	
	  	<property name="minValue" value="0.0"/>	  	
	</bean>

	<!-- Modes -->
	
	<bean id="offMode" class="ch.pschatzmann.jflightcontroller4pi.modes.FlightMode" >
	    <property name="name" value="offMode" /> 
	</bean>

	<bean id="manualMode" class="ch.pschatzmann.jflightcontroller4pi.modes.FlightMode" >
	    <property name="name" value="manualMode" /> 
	  	<property name="rules">
	  		<list>
            	<ref bean="manualModeRuleRudder" />
            	<ref bean="manualModeRuleElevator" />                
            	<ref bean="manualModeRuleAileron" />                
            	<ref bean="manualModeRuleThrottle" />                
        	</list>
	  	</property>	 	  	
	</bean>
	
	<bean id="manualModeRuleRudder" class="ch.pschatzmann.jflightcontroller4pi.modes.ManualModeRule" >
	    <property name="flightController" ref="flightController"> </property>
	    <property name="device" ref="rudder"> </property>
	    <property name="parameterFrom" value="YAW"> </property>
	</bean>
	<bean id="manualModeRuleElevator" class="ch.pschatzmann.jflightcontroller4pi.modes.ManualModeRule" >
	    <property name="flightController" ref="flightController"> </property>
	    <property name="device" ref="elevator"> </property>
	    <property name="parameterFrom" value="PITCH"> </property>
	</bean>
	<bean id="manualModeRuleAileron" class="ch.pschatzmann.jflightcontroller4pi.modes.ManualModeRule" >
	    <property name="flightController" ref="flightController"> </property>
	    <property name="device" ref="aileron"> </property>
	    <property name="parameterFrom" value="ROLL"> </property>
	</bean>
	<bean id="manualModeRuleThrottle" class="ch.pschatzmann.jflightcontroller4pi.modes.ManualModeRule" >
	    <property name="flightController" ref="flightController"> </property>
	    <property name="device" ref="throttle"> </property>
	    <property name="parameterFrom" value="SPEED"> </property>
	</bean>
	
	<!-- Stabilized Mode -->
	<bean id="stabilizedMode" class="ch.pschatzmann.jflightcontroller4pi.modes.FlightMode" >
	    <property name="name" value="stabilizedMode" /> 
	  	<property name="rules">
	  		<list>
            	<ref bean="stabilizedModeRuleElevator" />                
            	<ref bean="stabilizedModeRuleAileron" />  
        	</list>
	  	</property>	 
	  	<property name="devices">
	  		<list>
            	<ref bean="imu" />
        	</list>
	  	</property>	 
	</bean>
	

	<bean id="stabilizedModeRuleElevator" class="ch.pschatzmann.jflightcontroller4pi.modes.PIDModeRule" >
	    <property name="flightController" ref="flightController"/>
	    <property name="device" ref="elevator"/>
	    <property name="targetParameter" value="PITCH"/>
	    <property name="measuredParameter" value="SENSORPITCH"/>
	    <property name="pid" >
	    	<bean id="pidElevator" class="ch.pschatzmann.jflightcontroller4pi.control.PIDController" >
			    <property name="p" value="0.0005"/>
			    <property name="i" value="0.000005"/>
			    <property name="d" value="0"/>
			    <property name="outputLimits" value="1"/>
			</bean>
	    </property>
	</bean>
	
	<bean id="stabilizedModeRuleAileron" class="ch.pschatzmann.jflightcontroller4pi.modes.PIDModeRule" >
	    <property name="flightController" ref="flightController"/>
	    <property name="device" ref="aileron"/>
	    <property name="targetParameter" value="ROLL"/>
	    <property name="measuredParameter" value="SENSORROLL"/>
	    <property name="pid" >
	    	<bean id="pidAileron" class="ch.pschatzmann.jflightcontroller4pi.control.PIDController" >
			    <property name="p" value="0.01"/>
			    <property name="i" value="0"/>
			    <property name="d" value="0"/>
			    <property name="outputLimits" value="1"/>
			</bean>
	    </property>
	</bean>
	
	    	
	<bean id="stabilizedModeRuleThrottle" class="ch.pschatzmann.jflightcontroller4pi.modes.MixingModeRule" >
	    <property name="flightController" ref="flightController"/>
	    <property name="device" ref="throttle"/>
	    <property name="mixerComponents">
	  		<list>
				<bean id="inputPitch" class="ch.pschatzmann.jflightcontroller4pi.control.MixerComponent" >
				    <property name="parameter" value="PITCH"/>
				    <property name="weight" value="1.0"/>
				    <property name="scaler">
						<bean class="ch.pschatzmann.jflightcontroller4pi.control.Scaler" >
					   	    <property name="inputMin" value="-1.0"/>
		   					<property name="inputMax" value="1.0"/>
		    				<property name="outputMin" value="0.2"/>
		    				<property name="outputMax" value="1.0"/>
				    	</bean>
				    </property>
				</bean>
				
				<bean id="inputSpeed" class="ch.pschatzmann.jflightcontroller4pi.control.MixerComponent" >
				    <property name="parameter" value="SPEED"/>
				    <property name="weight" value="0.5"/>
				    <property name="scaler">
						<bean class="ch.pschatzmann.jflightcontroller4pi.control.Scaler" >
					   	    <property name="inputMin" value="-1.0"/>
		   					<property name="inputMax" value="1.0"/>
		    				<property name="outputMin" value="0.2"/>
		    				<property name="outputMax" value="1.0"/>
				    	</bean>
				    </property>
				</bean>
				
        	</list>
	  	</property>	 
	
	</bean>

	
	
	<!-- Import and Export of data via Datagrams -->

	<bean id="datagramReader" class="ch.pschatzmann.jflightcontroller4pi.integration.DatagramReader" >
	  	<property name="port" value="7001"/>
	  	<property name="fieldDefinitions">
	  		 <bean class="ch.pschatzmann.jflightcontroller4pi.integration.FieldDefinitions">
	  			<property name="fieldNames">
		  		 	<list value-type="ch.pschatzmann.jflightcontroller4pi.parameters.ParametersEnum">
						<value>SENSORROLL</value>
						<value>SENSORPITCH</value>
						<value>SENSORYAW</value>
						<value>SENSORSPEED</value>
						<value>SENSORHEADING</value>
						<value>SENSORALTITUDE</value>
		        	</list>
		        </property>
        	</bean>
        </property>
	</bean>

	<bean id="datagramWriter" class="ch.pschatzmann.jflightcontroller4pi.integration.DatagramWriter" >
	  	<property name="port" value="7000"/>
	  	<property name="host" value="localhost"/>
	  	<property name="fieldDefinitions" >
	  		 <bean class="ch.pschatzmann.jflightcontroller4pi.integration.FieldDefinitions">
	  			<property name="fieldNames">
		  		 	<list value-type="ch.pschatzmann.jflightcontroller4pi.parameters.ParametersEnum">
						<value>AILERON</value>
						<value>ELEVATOR</value>
						<value>THROTTLE</value>
						<value>RUDDER</value>
		        	</list>
		        </property>
        	</bean>
	  	</property>
	</bean>						

	<!-- JMX -->
	<bean id="jmx" class="ch.pschatzmann.jflightcontroller4pi.integration.JMXParameterStore" >
	</bean>
		
	
	<!-- Pins -->
	<bean id="nop" class="ch.pschatzmann.jflightcontroller4pi.protocols.NullDevice" />
	
	<bean id="pin1" class="ch.pschatzmann.jflightcontroller4pi.protocols.NullDevice">
	</bean>
	<bean id="pin2" class="ch.pschatzmann.jflightcontroller4pi.protocols.NullDevice">
	</bean>
	<bean id="pin3" class="ch.pschatzmann.jflightcontroller4pi.protocols.NullDevice">
	</bean>
	<bean id="pin4" class="ch.pschatzmann.jflightcontroller4pi.protocols.NullDevice">
	</bean>
	
	<bean id="scaler100" class="ch.pschatzmann.jflightcontroller4pi.control.Scaler" >
	    <property name="inputMin" value="-1.0"/>
	    <property name="inputMax" value="1.0"/>
	    <property name="outputMin" value="0.0"/>
	    <property name="outputMax" value="100.0"/>
	</bean>
	
	<!-- Others -->
	<bean id="flightgearLauncher" class="ch.pschatzmann.jflightcontroller4pi.tuning.FlightgearLauncher">
		<!--  <property name="startCommand" value="/Applications/FlightGear.app/Contents/MacOS/fgfs --altitude=10000 --vc=100 --timeofday=noon --generic=socket,in,10,,7000,udp,my-io --generic=socket,out,10,,7001,udp,my-io --airport=LSGS --timeofday=noon --telnet=7002 --httpd=7003"/> -->
 	</bean>
		
	
</beans>
